[Unit]
Description=Notifications with dunst
Requires=xorg.target
After=xorg.target

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/bin/dunst

[Install]
WantedBy=xorg.target
