[Unit]
Description=Lock screen with i3lock
Requires=xorg.target
After=xorg.target

[Service]
Type=forking
ExecStart=/usr/bin/i3lock -d -c 000000 -p default

[Install]
WantedBy=default.target
