[Unit]
Description=Show low battery warning
Requires=xorg.target
After=xorg.target

[Service]
Type=simple
ExecStart=/home/xhr/Documents/bin/low-battery

[Install]
WantedBy=multi-user.target
