[Unit]
Description=Hide mouse cursor with unclutter
Requires=xorg.target
After=xorg.target

[Service]
Restart=always
RestartSec=10
ExecStart=/usr/bin/unclutter -root

[Install]
WantedBy=default.target
