# collection of shell functions found in dot_files, wikis, etc
# around the world and written by me, of course.

# Generates a RSA 2048 bit keypair with DUMMY password
function kgenkey()
{
	[ -z "$1" ] && echo "No key alias given" && return
	keytool -genkeypair -keyalg RSA -keysize 2048 -alias "$1" \
		-dname "CN=Unknown,OU=Unknown,O=Unknown,L=Unknown,ST=Unknown,C=Unknown" \
		-storepass "test123" -keypass "test123" -keystore keystore.jks
}

# Generate a CSR from the keystore generated w/ the cmd above
function kgencsr()
{
	[ -z "$1" ] && echo "No key alias given" && return
	keytool -certreq -alias "$1" -keystore keystore.jks -file "${1}.csr" \
		-storepass "test123" -keypass "test123"
}

function kimportcert()
{
	[ -z "$1" ] && echo "No key alias given" && return
	[ -z "$2" ] && echo "No cert file given" && return
	keytool -import -alias "$1" -file "$2" -keystore keystore.jks \
		-storepass "test123" -keypass "test123" -trustcacerts
}

function sshopen()
{
	local AGPATH="$HOME"/.ssh/$(hostname).agent

	rm -f $AGPATH
	ssh-agent -t 345600 | grep -v echo > $AGPATH
	source $AGPATH

	# Find all public keys...
	for i in `find $HOME/.ssh/ -maxdepth 1 -name "*.pub"`; do
		# ... and strip the .pub suffix
		_key=`echo $i | sed -e 's/\.pub//'`
		ssh-add $_key
	done
}

function psg()
{
	ps aux | grep "$@"
}

function ssh()
{
	source_ssh_agent
	/usr/bin/ssh "$@"
}

function scp()
{
	source_ssh_agent
	/usr/bin/scp "$@"
}

function source_ssh_agent()
{
	local AGPATH="$HOME"/.ssh/$(hostname).agent

	[[ -f $AGPATH ]] && source $AGPATH
}

function mkcd()
{
	[[ $1 ]] || return 0
	[[ -d $1 ]] || mkdir -vp "$1"
	[[ -d $1 ]] && builtin cd "$1"
}

function cget()
{
	curl -OL --compressed "$@"
}

function ipif()
{
		if grep -P "(([1-9]\d{0,2})\.){3}(?2)" <<< "$1"
		then
			curl ipinfo.io/"$1"
		else
			local ipadd=$(host "$1") &&
			local ipawk=$(awk '{ print $4 }' <<< "$ipadd")
			curl ipinfo.io/"$ipawk"
		fi
		echo
}

function calc()
{
	echo "scale=3;$@" | bc -l
}

function cds()
{
	cd "$1" && ls -la
}

# http://jeroenjanssens.com/2013/08/16/quickly-navigate-your-filesystem-from-the-command-line.html

export MARKPATH=$HOME/.marks
function jump {
    cd -P "$MARKPATH/$1" 2>/dev/null || echo "No such mark: $1"
}
function mark {
    mkdir -p "$MARKPATH"; ln -s "$(pwd)" "$MARKPATH/$1"
}
function unmark {
    rm -i "$MARKPATH/$1"
}
function marks {
    ls -l "$MARKPATH" | sed 's/  / /g' | cut -d' ' -f9- | sed 's/ -/\t-/g' && echo
}

