[user]
	name = the xhr
	email = xhr@giessen.ccc.de
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHB+4++HOuOW9SVonVAxNMRcwnpGknQgYNKFWUFaGmtb
	#name = schmidtm
	#email = schmidtm@mathematik.uni-marburg.de

[sendemail]
	smtpserver = 127.0.0.1
	smtpserverport = 25

[merge]
	summary=true

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto

[commit]
	verbose = true

[alias]
	ci = commit
	di = diff
	co = checkout
	st = status
	an = annotate
	br = branch -v
	re = remote -v
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[diff]
	color = auto
	rename = copy
	compaction-heuristic = true
	noprefix = true

[pager]
	color = true

[status]
	color = auto
[push]
	default = simple
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = /home/xhr/.ssh/allowed_signers
