[user]
	name = the xhr
	email = xhr@giessen.ccc.de

[alias]
	ci = commit
	di = diff
	co = checkout
	st = status
	an = annotate
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[diff]
	color = auto
	rename = copy

[pager]
	color = true

[status]
	color = auto
