[Desktop Entry]
Version=1.0
Name=Burp Suite
GenericName=Web Proxy
Exec="java -jar /home/xhr/Downloads/Web/Burp/burpsuite.jar"
Icon=/home/xhr/Downloads/Web/Burp/logo.png
Type=Application

