[Desktop Entry]
Type=Application
Exec=/home/xhr/Downloads/Software/eclipse/eclipse
Icon=/home/xhr/Downloads/Software/eclipse/icon.xpm
Categories=Development;
Name=Eclipse

